.bg-red {
  background: #f71b1b;
}

.bg-orange {
  background: #f77b1b;
}

.bg-yellow {
  background: #f7e11b;
}

.bg-green {
  background: #1bf74b;
}

.bg-blue {
  background: #4287f5;
}

.bg-purple {
  background: #f542c5;
}
