.text-red {
  color: #f71b1b;
}

.text-orange {
  color: #f77b1b;
}

.text-yellow {
  color: #f7e11b;
}

.text-green {
  color: #1bf74b;
}

.text-blue {
  color: #4287f5;
}

.text-purple {
  color: #f542c5;
}
